<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>PicoContainer - {{ page.name }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Language" content="en" />
<meta name="language" content="en" />
<meta name="robots" content="all" />
<meta http-equiv="imagetoolbar" content="false" />

<meta name="author" content="dev@picocontainer.codehaus.org" />
<meta name="Copyright" content="PicoContainer team" />
<meta name="viewport" content="width=960" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<style type="text/css" media="all">
@import url("/style/pygments.css");
@import url("/css/article_style.css");
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
	_uacct = "UA-2268879-1";
	urchinTracker();
</script>

</head>
<body>
<div id="banner">
  <a href="/">
	<img src="/images/pico_logo.png" alt="PicoContainer Logo" />
  </a>
</div>
<div id="content">
{% include top_menu.html %}
{{ content }}
 </div>
 
<div id="footer_box">
    Last updated on {{page.lastModified}} - Last PicoContainer release - 3.0-ALPHA-1 <br />
	<small>Copyright &copy; PicoContainer Committers</small>
</div>

</body></html>